#penguin-image {
    max-width: 300px;
    flex: 1 1 auto;
}

.info-images {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

body{
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header {
    color: #f9faf8;
    background-color: #1F2937;
    margin: 0;
    font-size: 24px;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
}

ul {
    display: flex;
    gap: 18px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}


.header-container {
    display: flex;
    padding: 5% 15%;
    gap: 5%;
}

.header-text {
    margin: 0;
}

p, h2 {
    margin-bottom: 10px;
}

.secondary-text {
    font-size: 18px;
}

button {
    padding: 8px 24px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}

.header-text button {
    background: #3882f6;
    color: #ffffff;
}

.information {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.information-container {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

figure img {
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.quote-container {
    background-color: #e5e7eb;
    padding: 5% 20%;

}

.quote-container .quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

.quote-container .quote-author {
    margin: 0 10px;
    font-weight: bold;
    text-align: right;
}

.ad-container {
    margin: 48px auto;
    padding: 2% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    background-color: #3882f6;
    color: #ffffff;
    border-radius: 5px;
}

.ad-container button {
    background-color: #3882f6;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.ad p {
    margin-top: -18px;
    font-size: small;
}

footer {
    text-align: center;
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 16px
}