#penguin-image {
    max-width: 300px;
    flex: 1 1 auto;
}

.info-images {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.header {
    color: #f9faf8;
    background-color: #1F2937;
    margin: 0;
    font-size: 24px;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
}

ul {
    display: flex;
    gap: 18px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

body{
    padding: 0;
}

.header-container {
    display: flex;
    padding: 5% 15%;
    gap: 5%;
}

.header-text {
    flex: 1 1 auto;
    margin: 0;
}

p, h2 {
    margin-bottom: 10px;
}

.header-text p {
    font-size: 18px;
}

.header-text button {
    background: #3882f6;
    color: #ffffff;
    padding: 8px 24px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    box-shadow: none;
}

.information {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.information-container {
    display: flex;
    justify-content: center;
}

figure img {
    border: 3px solid #3882f6;
    border-radius: 10px;
}